<!DOCTYPE html>
<html>

<head>

<meta name="viewport" content="width=device-width,initial-scale=1">

<style>

body{
font-family:Arial;
padding:20px;
}

button{
padding:8px 12px;
margin:3px;
}

</style>

</head>

<body>

<h2>后台管理</h2>

<a href=" ">
<button>导出Excel</button>
</a >

<a href="/">
<button>返回预约</button>
</a >

<table border="1" cellpadding="10">

<tr>
<th>日期</th>
<th>时间</th>
<th>姓名</th>
<th>操作</th>
</tr>

{% for r in rows %}

<tr>

<td>{{r[1]}}</td>
<td>{{r[2]}}</td>
<td>{{r[3]}}</td>

<td>

<a href="/delete/{{r[0]}}?pwd={{pwd}}">
<button>删除</button>
</a >

</td>

</tr>

{% endfor %}

</table>

</body>

</html>
